<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Book Management System</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          crossorigin="anonymous">
</head>
<body>

<div class="container my-2">
    <h1>Book List</h1>
    <a th:href="@{/showNewBookForm}" class="btn btn-primary btn-sm mb-3"> Add Book </a>
    <table border="1" class="table table-bordered table-responsive">
        <thead class="table-dark">
        <tr>
            <th> Book Id</th>
            <th> Book Name</th>
            <th> Author Name</th>
            <th> Publish Date</th>
            <th> Price</th>
            <th> Actions</th>
        </tr>
        </thead>
        <tbody class="table-secondary">
        <tr th:each="book:${listBooks}">
            <td th:text="${book.id}"></td>
            <td th:text="${book.bookName}"></td>
            <td th:text="${book.authorName}"></td>
            <td th:text="${book.publishDate}"></td>
            <td th:text="${book.price}"></td>

            <td><a th:href="@{/showFormForUpdate/{id}(id=${book.id})}" class="btn btn-outline-info">Update</a>
                <a th:href="@{/deleteBook/{id}(id=${book.id})}" class="btn btn-outline-danger">Delete</a>
            </td>
        </tr>
        </tbody>

</body>
</html>