<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>Book Management System</title>
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
        crossorigin="anonymous">
</head>
<body>
<div class="container">
  <h1>Book Management System</h1>
  <hr>
  <h2>Save Book</h2>

  <form action="#" th:action="@{/saveBook}" th:object="${book}"
        method="POST">
    <div class="form-group mt-4">
      <label class="col-md-3 control-lable" >Book
        Name</label> <input type="text" th:field="*{bookName}"
                            placeholder="Enter Book Name" class="form-control mb-4 col-4">
      <div class="text-danger">
        <p th:if="${#fields.hasErrors('bookName')}"
           th:errors="*{bookName}"></p>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-3 control-lable">Author
        Name</label> <input type="text" th:field="*{authorName}"
                            placeholder="Enter Author Name" class="form-control mb-4 col-4">
      <div class="text-danger">
        <p th:if="${#fields.hasErrors('authorName')}" th:errors="*{authorName}"></p>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-3 control-lable" >Publish Date</label> <input
            type="text" th:field="*{publishDate}" placeholder="Enter Publish Date"
            class="form-control mb-4 col-4">
      <div class="text-danger">
        <p th:if="${#fields.hasErrors('publishDate')}" th:errors="*{publishDate}"></p>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-3 control-lable">Price</label> <input
            type="text" th:field="*{price}" placeholder="price"
            class="form-control mb-4 col-4">
      <div class="text-danger">
        <p th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></p>
      </div>
    </div>

    <button type="submit" class="btn btn-success col-2">Save
      Book</button>
  </form>
  <hr>
  <a th:href="@{/}"> Back to Book List</a>
</div>
</body>
</html>