<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>Book Management System</title>
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
        crossorigin="anonymous">
</head>
<body>
<div class="container">
  <h1> Book Management System</h1>
  <hr>
  <h2> Update Book </h2>

  <form action="#" th:action="@{/saveBook}" th:object ="${book}" method="POST">

    <!-- Add hidden form field to handle update -->
    <input type="hidden" th:field="*{id}">

    <label class="col-md-3 control-lable" for="bookName">Book
      Name</label>
    <input type="text" th:field = "*{bookName}" class="form-control mb-4 col-4">


    <label class="col-md-3 control-lable" for="authorName">Author
      Name</label>
    <input type="text" th:field = "*{authorName}" class="form-control mb-4 col-4">

    <label class="col-md-3 control-lable" for="publishDate">Publish Date</label>
    <input type="text" th:field = "*{publishDate}" class="form-control mb-4 col-4">

    <label class="col-md-3 control-lable" for="price">Price</label>
    <input type="text" th:field = "*{price}" class="form-control mb-4 col-4">

    <button type="submit" class="btn btn-success col-2"> Update Book</button>
  </form>
  <hr>
  <a th:href = "@{/}"> Back to Book List</a>
</div>
</body>
</html>