<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Employee Management System</title>
<link rel="stylesheet" 
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" 
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" 
      crossorigin="anonymous">
</head>
<body>
    <div class="container">
       <h1> Employee Management System</h1>
       <hr>
         <h2> Save Employee </h2>
         
         <form action="#" th:action="@{/saveEmployee}" th:object ="${employee}" method="POST">
             <div class="form-group mt-4">
                 <label class="col-md-3 control-lable" for="firstname">
                     Name</label> <input type="text" th:field="*{firstname}"
                                         placeholder="Enter FirstName" class="form-control mb-4 col-4">
                 <div class="text-danger">
                     <p th:if="${#fields.hasErrors('firstname')}"
                        th:errors="*{firstname}"></p>
                 </div>
             </div>
<!--            <input type="text" th:field = "*{firstname}" -->
<!--                   placeholder="Enter First Name" class="form-control mb-4 col-4"> -->
<!--            <input type="text" th:field = "*{lastname}" placeholder="Enter Last Name" class="form-control mb-4 col-4"> -->
             <div class="form-group mt-4">
                 <label class="col-md-3 control-lable" for="lastname">
                     Name</label> <input type="text" th:field="*{lastname}"
                                         placeholder="Enter LastName" class="form-control mb-4 col-4">
                 <div class="text-danger">
                     <p th:if="${#fields.hasErrors('lastname')}"
                        th:errors="*{lastname}"></p>
                 </div>
             </div>
<!--            <input type="text" th:field = "*{email}" placeholder="Enter Email" class="form-control mb-4 col-4"> -->
             <div class="form-group mt-4">
                 <label class="col-md-3 control-lable" for="email">
                     Name</label> <input type="text" th:field="*{email}"
                                         placeholder="Enter email" class="form-control mb-4 col-4">
                 <div class="text-danger">
                     <p th:if="${#fields.hasErrors('email')}"
                        th:errors="*{email}"></p>
                 </div>
             </div>
            <button type="submit" class="btn btn-success col-2"> Save Employee</button>
         </form>
        <hr>
           <a th:href = "@{/}"> Back to Employee List</a>
    </div>
</body>
</html>