<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Employee Management System</title>
<link rel="stylesheet" 
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" 
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" 
      crossorigin="anonymous">
</head>
<body>

<div class="container my-2">
   <h1>Employees List</h1>
   <a th:href = "@{/showNewEmployeeForm}" class="btn btn-primary btn-sm mb-3"> Add Employee </a>
   <table border="1" class= "table table-bordered table-responsive">
      <thead class="table-dark">
         <tr>
             <th> Employee Id </th>
             <th> Employee First Name </th>
             <th> Employee Last Name </th>
             <th> Employee Email </th>
             <th> Actions </th>
         </tr>
      </thead>
      <tbody class="table-secondary">
         <tr th:each="employee : ${listEmployees}">
             <td th:text="${employee.id}"></td>
             <td th:text="${employee.firstname}"></td>
             <td th:text="${employee.lastname}"></td>
             <td th:text="${employee.email}"></td>
             <td> <a th:href="@{/showFormForUpdate/{id}(id=${employee.id})}" class="btn btn-info">Update</a>
                  <a th:href="@{/deleteEmployee/{id}(id=${employee.id})}" class="btn btn-danger">Delete</a>
             </td>
         </tr>
      </tbody>
   </table>
</div>
</body>
</html>