<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"><head>
  <title>Spring Security Example</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          crossorigin="anonymous">
</head>
<body>
<div th:if="${param.error}">
  <p th:text="${session.error}" th:unless="${session == null}">[...]</p>
</div>
<div th:if="${param.logout}">You have been logged out.</div>
<form th:action="@{/login}" method="post">
   <div>
      <label> Username: <input type="text" name="username" /> </label>
</div>
<div>
  <label> Password: <input type="password" name="password" /> </label>
</div>
<div>
  <input type="submit" value="Sign In" /> </div>
</form>
</body>
</html>